<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

<!--    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>-->
<!--    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />-->

    <title>Record Form</title>
</head>

<body>
    <div class="container">
        <h3>Record Form</h3>
        <p>
            <a th:href="@{/}">Home</a>
            &nbsp;
            <a th:href="@{/label}">Label list</a>
            &nbsp;
            <a th:href="@{/record}">Record list</a>
        </p>
        <hr>

        <p class="h4 mb-4">Save Record</p>

        <form action="#" th:action="@{/record/save}" method="POST">

            <!-- Add hidden form field to handle update -->
            <input type="hidden" th:field="*{record.id}" />

            <input type="text" th:field="*{record.number}"
                   class="form-control mb-4 col-4" placeholder="Number">

            <input type="text" th:field="*{record.name}"
                   class="form-control mb-4 col-4" placeholder="Name">

            <input type="text" th:field="*{record.link}"
                   class="form-control mb-4 col-4" placeholder="Link">

            <input type="text" th:field="*{record.addDate}"
                   class="form-control mb-4 col-4" placeholder="Add Date">

            <button type="submit" class="btn btn-info col-2">Save</button>

        </form>

        <hr>

    </div>

<!--    TODO: fix datepicker input date formater-->
<!--    <script>-->
<!--        $('#datepicker').datepicker({-->
<!--            uiLibrary: 'bootstrap4'-->
<!--        });-->
<!--    </script>-->
</body>

</html>