<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Record Form</title>
</head>

<body>
    <div class="container">
        <h3>Record Form</h3>
        <p>
            <a th:href="@{/}">Back to home</a>
            &nbsp;
            <a th:href="@{/label}">Back to label list</a>
            &nbsp;
            <a th:href="@{/record}">Back to record list</a>
        </p>
        <hr>

        <p class="h4 mb-4">Save Record</p>

        <form action="#" th:action="@{/record/save}" method="POST">

            <!-- Add hidden form field to handle update -->
            <input type="hidden" th:field="*{record.id}" />

            <input type="text" th:field="*{record.number}"
                   class="form-control mb-4 col-4" placeholder="Number">

            <input type="text" th:field="*{record.name}"
                   class="form-control mb-4 col-4" placeholder="Name">

            <select name="level" class="form-control mb-4 col-4">
                <option th:if="${record.getLevel() == null}" disabled selected>Please select a level...</option>
                <option th:unless="${record.getLevel() == null}" hidden selected
                        th:value="${record.getLevel()}" th:text="${record.getLevel()}"></option>
                <option th:each="levelOpt : ${levelLabel}"
                        th:value="${levelOpt.getType()}" th:text="${levelOpt.getType()}"></option>
            </select>

            <input type="text" th:field="*{record.link}"
                   class="form-control mb-4 col-4" placeholder="Link">

            <select name="tag" class="form-control mb-4 col-4">
                <option th:if="${record.getTag() == null}" disabled selected>Please select a tag type...</option>
                <option th:unless="${record.getTag() == null}" hidden selected
                        th:value="${record.getTag()}" th:text="${record.getTag()}"></option>
                <option th:each="tagOpt : ${tagLabel}"
                        th:value="${tagOpt.getType()}" th:text="${tagOpt.getType()}"></option>
            </select>

            <select name="method" class="form-control mb-4 col-4">
                <option th:if="${record.getMethod() == null}" disabled selected>Please select a method type...</option>
                <option th:unless="${record.getMethod() == null}" hidden selected
                        th:value="${record.getMethod()}" th:text="${record.getMethod()}"></option>
                <option th:each="methodOpt : ${methodLabel}"
                        th:value="${methodOpt.getType()}" th:text="${methodOpt.getType()}"></option>
            </select>

            <input type="text" th:field="*{record.addDate}"
                   class="form-control mb-4 col-4" placeholder="Add Date">

            <button type="submit" class="btn btn-info col-2">Save</button>

        </form>

        <hr>

    </div>
</body>

</html>